@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredericka+the+Great&family=Lato:wght@300;400&display=swap");

/* --- General --- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  color: rgb(51, 51, 51);
  background-color: #fff;
}

.navbar-light {
  background-color: #fff;
}

h1,
h2,
h3 {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
}

.nav-link {
  color: rgb(51, 51, 51);
}

h1 {
  color: #32b19a;
}

h2 {
  color: #c9ae6d;
  margin-bottom: 50px;
}

h3 {
  color: #e37225;
}

h5 {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 40px;
  font-weight: 500;
  color: #32b19a;
}

.hidden {
  display: none;
}

/* --- ALL PAGES --- */

/* --- Header/Navigation --- */

.navbar-logo {
  background-image: url("../images/Animable-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 250px;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.justify-end {
  justify-content: flex-end !important;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

/* --- Footer --- */

.welfare-logo {
  width: 100px;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  align-items: center;
  padding-top: 40px;
}

.footer-block a {
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 70%;
}

.footer-logos a {
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #32b19a;
}

.footer-logos img {
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

.fa {
  font-size: 125%;
}
.fa-youtube-play {
  color: red;
}

.fa-linkedin-square {
  color: #283e4a;
}

.fa-facebook-square {
  color: #4267b2;
}

.fa-instagram {
  color: #9f36b7;
}

footer {
  position: relative;
  width: 100%;
}

.ftr-logo-container {
  margin-top: 100px;
}

.list-inline-item:not(:last-child) {
  margin: 0;
}

.title-row {
  margin-top: 166px;
}

/* --- HOME PAGE --- */

/* --- Intro Section --- */

#intro-section {
  margin: 15px 0;
  padding: 10px 15px;
}

#intro-section a {
  color: #32b19a;
  text-transform: uppercase;
  font-weight: 400;
}

.hero-image img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

@media only screen and (max-width: 900px) {
  .hero-image {
    margin-top: 50px;
  }
  #intro-section p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 565px) {
  .hero-image {
    margin-top: 100px;
  }
  h1 {
    font-size: 40px;
  }
  #intro-section p {
    font-size: 18px;
  }
  .navbar-logo {
   width: 230px;
}
}

/* --- Image Links --- */

.image-link-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.image-link-box {
  text-align: center;
  margin-bottom: 20px;
}

a:hover {
  text-decoration: none;
}

.image-link {
  margin-top: 10px;
  transition: all 0.3s ease;
  max-width: 300px;
  border-radius: 15px;
}

.image-link:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* --- ABOUT PAGE --- */

.about-img {
  width: 100%;
  border-radius: 15px;
}

.about-list {
  margin-left: 20px;
}

.about-row {
  margin-top: 20px;
}

.last-about-row {
  margin-bottom: 30px;
}

/* --- GALLERY PAGE --- */

.row .gallery-row {
  margin: 0px 0px 30px 0px;

}

/* --- CONTACT PAGE --- */

.donate-image {
  max-width: 100%;
  height: auto;
  margin: 25px 0;
}

.button-row {
  margin-bottom: 50px;
}

.donate-container {
  text-align: center;
}

.donate-container .col-6 {
  padding: 0;
}

.donate-form,
.adopt-form {
  margin-bottom: 30px;
}

.contact-btn-row {
  display: flex;
  justify-content: space-evenly;
}

.contact-donate {
  max-width: fit-content;
}

.contact-button {
  background: #32b19a;
  background: -webkit-linear-gradient(
      top,
      transparent 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    -webkit-linear-gradient(left, #00b486 0%, #00684d 50%, #00b486 100%);
  background: linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    linear-gradient(to right, #00b486 0%, #00684d 50%, #00b486 100%);
  background-position: 0 0;
  background-size: 200% 100%;
  border-radius: 4px;
  color: #fafafa;
  padding: 10px 65px 15px 15px;
  text-shadow: 1px 1px 5px rgb(85, 85, 85);
  -webkit-transition: all 800ms;
  transition: all 800ms;
}

.contact-button:after {
  border-left: 1px solid #025a4a;
  color: #fafafa;
  content: "\f004";
  font: 20px "FontAwesome";
  padding: 10px 0;
  padding-left: 15px;
  position: absolute;
  right: 16px;
  top: 7px;
  -webkit-transition: all 600ms 200ms;
  transition: all 600ms 200ms;
}

#adopt-button:after {
  content: "\f003";
}

.contact-button:hover {
  background-position: -100% 0;
}

.contact-button:hover:after {
  border-left: 1px solid #008260;
  color: rgb(245, 7, 7);
  text-shadow: 0 0 10px #000;
}

.donate-option-btn {
  width: 280px;
  border: 2px solid #e37225;
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 4px;
  display: inline-block;
}

.donate-option-btn a {
  color: rgb(51, 51, 51);
}

.welfare-logo-btn {
  width: 80px;
  margin-right: 20px;
}
