@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredericka+the+Great&family=Lato:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #2a2a2a;
}

h1,h3 {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 80px;
    font-weight: 500;
}

/* --- Header/Navigation --- */



/* --- Intro Section --- */



/* --- Image Links --- */

.image-link-container{
    margin-top: 20px;
    margin-bottom: 30px;
}

.image-link-box {
    text-align: center;
    margin-bottom: 20px;
}

.image-link-box h3 {
    color: #2a2a2a;
}

a:hover{
        color: green;
}

.image-link {
    margin-top: 10px;
    transition: all 0.3s ease;
}

.image-link:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* --- Footer --- */

.welfare-logo {
    width: 100px;
}