@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fredericka+the+Great&family=Lato:wght@300;400&display=swap");

/* --- General --- */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  letter-spacing: 2px;
  color: #2a2a2a;
}

h1,h2,h3 {
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 80px;
    font-weight: 500;
    text-align: center;

}

h5 {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}

.hidden {
    display: none;
}



/* --- ALL PAGES --- */


/* --- Header/Navigation --- */

.navbar-logo {
    background-image: url("../images/Animable-logo.png");
    background-position: center;
background-repeat: no-repeat;
background-size: contain;
height: 150px;
width:  250px;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
}

.justify-end {
    justify-content: flex-end!important;
}
header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}
/* --- Footer --- */

.welfare-logo {
    width: 100px;
}

.footer-block {
    height: 100px;
    text-align: center;
    padding-top: 40px;
}

.footer-block  a {
    text-decoration: none;
    color: #000000;
}

.footer-logos a {
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
}

.footer-logos img {
    display: block;
    margin: auto;
}

footer {
    position: relative;
    width: 100%;
}

.list-inline-item:not(:last-child) {
    margin: 0;
    }

.title-row {
    margin-top: 166px;
}

/* --- HOME PAGE --- */

/* --- Intro Section --- */

#intro-section {
    margin: 15px;
    padding: 10px 50px;
}

/*. ---.hero-image {
    width: 100%;
    height: auto;
} --- */

.hero-image img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media only screen and (max-width: 900px) {
   .hero-image {
       margin-top: 50px;
   }
   #intro-section p{
       font-size: 20px;
   }
  
}

@media only screen and (max-width: 565px) {
   .hero-image {
       margin-top: 100px;
   }
    h1 {
       font-size: 40px;
   }
   #intro-section p{
       font-size: 18px;
   }

}

/* --- Image Links --- */


.image-link-container{
    margin-top: 20px;
    margin-bottom: 30px;
}

.image-link-box {
    text-align: center;
    margin-bottom: 20px;
    color: #2a2a2a;
}

.link-about {
    color:inherit;
}

.image-link-box a {
    color: #2a2a2a
}

a:hover{
        text-decoration: none;
}

.image-link {
    margin-top: 10px;
    transition: all 0.3s ease;
    max-width: 300px;
}

.image-link:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* --- ABOUT PAGE --- */

.about-img {
    width: 100%;
}

.about-list{
    margin-left: 20px;
}

.about-row{
    margin-top: 20px;
}

.last-about-row {
    margin-bottom: 30px;
}

/* --- GALLERY PAGE --- */

.gallery-row {
    margin-bottom: 30px;
}

/* --- CONTACT PAGE --- */

.donate-image{
    max-width: 100%;
    height: auto;
}

.button-row {
    margin-bottom: 30px;
}

.donate-container {
    text-align: center;
}

.donate-form,
.adopt-form {
    margin-bottom: 30px;
}

.donate-container .col-6{
    padding: 0;
}

.contact-button{
    height: 100px;
    width: 180px;
    border: 10px #006764 ridge;
    font-family: 'Fredericka the Great', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.contact-button:hover{
    color: #006764;
}

.contact-button-active{
    border: 10px yellow ridge;
}